/node_modules
npm-debug.log
yarn-error.log
# Public directory with compiled assets
#/public/

# Ignore specific compiled files, if needed
#/public/styles/
#/public/scripts/
#/public/fonts/
#/public/images/

# Local eslint environtment
.eslintignore
.eslintrc.json
.env
.DS_Store
Thumbs.db

#Comment out functions.php when changes into this file are needed
wp-content/themes/your-theme/functions.php