.brand {
    @apply text-3xl font-medium text-indigo-500;
}

main {
    padding-top: 58px;
    overflow: hidden;
    @screen md {
        padding-top: 88px;
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        @apply container mx-auto lg:px-10 xl:px-16;
    }
}

.page-title {
    @apply font-display text-primary text-2xl;
    letter-spacing: 0.2em;
}

.list-style-enable {
    img {
        max-width: 100%;
    }
    ul {
        @apply list-disc my-3;
    }

    ol {
        @apply list-decimal;
    }

    ul,
    ol {
        li {
            @apply ml-5;
        }
    }

    strong {
        @apply font-bold;
    }
}

.text-formatting-enable {
    ul {
        @apply list-disc my-3;
    }

    ol {
        @apply list-decimal;
    }

    ul,
    ol {
        li {
            @apply ml-5;
        }
    }

    a {
        @apply underline font-bold;

        &:hover {
            @apply text-primary;
        }
    }

    strong {
        @apply font-bold;
    }

    p {
        @apply my-3;
    }
}

.slick-next {
    right: 10px !important;
    @screen xl {
        right: 40px !important;
    }
    @screen lg {
        right: 20px !important;
    }
}
.slick-prev {
    left: 10px !important;
    z-index: 10;
    @screen xl {
        left: 40px !important;
    }
    @screen lg {
        left: 20px !important;
    }
}

.slick-current {
    z-index: 10;
}

.svg {
    fill: none;
}
